body {
  background-color: indianred;
}

#labs {
  float: left;
  padding: 25px;
  background-color: lightcoral;
  margin: 20px;
  border: solid 5px;
  border-color: red;
  font-size: 30px;
  text-align: left;
  align-items; center;
  width: 100%;
}

img {
  float: right;
  align-content: center;
  margin: auto;
  border: solid 5px;
  border-bottom: solid 20px;
}

#header {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 30px;
}

a {color: white
}

a:hover {
  color: grey
}

a:visited {
  color: white
}
