body {
  background-color: indianred;
}

h1 {
  color: white;
  font-size: 200%;}

p {
  font-family: "serif", "garamound";
  text-indent: 30px;
  margin-left: 15px;
}

.labs {
  text-align: center;
  color: white;
  background-color: lightcoral;
  width: 800px;
  min-height: 400px;
  padding: 15px;
  margin: 10px;
  border: solid 5px #770E4F;
  font-size: 20px;
}
