h1 {
  color: white;
  font-size: 200%;}

p {
  font-family: "serif", "garamound";
  text-indent: 30px;
  margin-left: 15-px;
}

#content {
  background-color: #B50928;
  width: 500px;
  min-height: 400px;
  padding: 15px;
  margin: 10px;
  border: dotted 5px black;
  font-size: 30px;
}

#site {
  background-image: linear-gradient(white,black);
  min-height: 500px
}
