h1 {
  color: white;
  font-size: 200%;}

p {
  font-family: "serif", "garamound";
  text-indent: 30px;
  margin-left: 15-px;
}

#content {
  float: center;
  color: white;
  background-color: #B50928;
  width: 800px;
  min-height: 400px;
  padding: 15px;
  margin: 10px;
  border: solid 5px black;
  font-size: 15px;
}

#site {
  background-image: linear-gradient(white,black);
  min-height: 500px;
}
